body {
  background-color: #110e0c ;
}

h1 {
  display: flex;
  color: white;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 0;
}

.navbar-left{
  margin-left: 1rem;
}
.navbar-left-elt{
  text-decoration: none;
  padding: 1rem;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-right: 1rem;
}


