:root {
  /* backgrounds */
  --background-color: #110E0C;          /* main background color, for the whole page*/
  --background-color-element: #1A1614;  /* used for elements / cards*/

  /* text */
  --title-color: #F1EEEC;               /* for titles, brighter */
  --main-text-color: #DEDBD9;           /* for main text content and dark buttons, a bit darker */
  --text-color-dark: #221D1A;           /* for text on light backgrounds, dark */

  /* buttons */
  --button-bgcolor-dark: #171F24;       /* dark background for buttons - dark secondary color */
  --button-bgcolor-blue: #25455A;       /* blue background for buttons - light secondary color */
  --button-bgcolor-light: #C1B4A8;      /* light background for buttons */

  /* call to action color */
  --cta-color-light: #DF894A;
  --cta-color-dark: #905B34;            
}

/* --- --- --- */

body {
  background-color: var(--background-color) ;
  padding-top: 60px;
}

h1 {
  color: var(--title-color);
  text-align: center;
}

p.name {
  white-space: nowrap;
  color: var(--main-text-color);
  font-family: cursive;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-element);
  position: absolute;
  left: 0;
  top: 0;
  height: 5vh;
  width: 90vw;
  padding: 10px 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

.navbar-middle {
  width: 80vw;
}

.navbar-link{
  display: inline-block;
  font-size: 1rem;
  color: var(--main-text-color);
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px var(--button-bgcolor-blue);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navbar-link:hover:after { 
  transform: scaleX(1) ;
}


.navbar-button{
  background-color: transparent;
  border-color: transparent;
}
.navbar-icon{
  font-size: 1.8rem;
  color: var(--cta-color-light);
  border: 3px solid transparent;  /* to prevent other elements to move when icon is hovered */
  outline: 2px solid transparent;} /* same */
.navbar-icon:hover, .navbar-icon:focus{
  border: 3px solid transparent;
  outline: 2px solid var(--cta-color-light);
  color: var(--main-text-color);
  border-radius: 50%;
  transition: .1s;
  transform: scale(1.1);
}

/* --- --- --- About --- --- --- */

.container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89vw; /* TODO why not 90 (100 - 2*5 padding)?*/
  padding-left: 5vw;
  padding-right: 5vw;
}

.item {
  width: 25vw;
  height: 100px;
  background-color: var(--background-color-element);
  text-align: center;
}